/* Base */
html,body {
	color: rgba(89,87,87,1.00);
	font-family: "Microsoft JhengHei", "Helvetica Neue", "Noto Sans", Helvetica,Arial, sans-serif !important;
	font-size: 16px;
	height: 100%;
    overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Fonts */
.gsq-cover-title {
    font-size: 76px;
    font-weight: bolder;
	text-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.gsq-cover-subject-1 {
    font-size: 58px;
    font-weight: bolder;
	text-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.gsq-cover-subject-2 {
    font-size: 158px;
    font-weight: bolder;
	text-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.gsq-page-title {
	font-size: 48px;
	line-height: 57px;
	padding: 24px 0;
}
.gsq-page-text {
	font-size: 21px;
	line-height: 27px;
}
.gsq-item-title {
	font-size: 19px;
	line-height: 24px;
	min-height: 72px;
	padding: 12px 0;
}
.gsq-item-text {
	line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;	
}

/* Colors */
.gsq-color-green {
    color: #41B797;
}
.gsq-color-blue {
    color: #08287F
}
.gsq-color-light-green {
    color: #5AA0AA;
}
.gsq-color-light-purple {
    color: #7873BE;
}
.gsq-color-gery {
    color: #727171;
}
.gsq-color-black {
    color: #231815;
}

/* Buttons */
.gsq-btn-outline-blue {
	border: 1px solid rgba(8,40,127,1.00)!important;
	color: rgba(8,40,127,1.00);
	font-weight: bolder;
}
.gsq-btn-outline-blue:hover, .gsq-btn-outline-blue:active {
	background-color: rgba(8,40,127,1.00)!important;
}

/* Covers */
.gsq-cover-box {
	height: 768px;
	width: 100%;
}
.gsq-cover-index {
	background: url("https://lh3.googleusercontent.com/fife/AAbDypD9_O7u4nMPuwYYtv7gK_AU-204Sb6LX1ZKM_40noUw7MVvUXKIiYLw2UMKBIlCWVd_FUIOemwlIzr4LXXb7yd-K3DbUQcSziAYEkOH1YRnE_t7CKFhqlstcNatPKa0VfrSQVceOdQJjBECBxUzQMCgQQhqyajaSmIdz5dFJ9jQ4XO1TGX1FOQ6q3vROiv3BVLCEkF0WJ306nR6Sxd6t5Ni428r7bd9WWF3HX5dx42xgWSnJ_c9qF4RzXkZoc5N3mFAzrBjfIeVncGFkUdZ3Vfg6ghhQZ2u6BPn9O8r0B0xnw85vIKPFo2V1fSPD0F36U3cNxG5D8igyHc9MHQqHqqc4SOF9aUgiXHIYFcSyxJuKaVKE4zXec1Cq74hZdzyL4rGUQ-iBmU9LJp3Rqld3xc1N2WdqUb3KEhabM5ee6zEb_y7m9Xl5bqAmX-UJRhPgpQ6ZA4wVjDQWt9ZI9OqosEOll9oUYL1yIaT8XLsdmReF_OxyjSbyJh27kfCnMzRP7mYIFeVToFLrPSsRGxvTPBcGIu9zeJROAVAaX9Ve0WGKcBSubnnR4Aguxwv2qj3gfYD3JuaMjHNxCjMPtHJHnSKnj227PnTrAEpLy24ZGF0S6EtuHioqOY_88MYX2DfDMPJeWiAZzF-rSO3NvTlYUKjQVuo6sol6jYp7YBQkdeqaRAHlEJXPmoYEa2ey--UFRlRto1KUT0f24bdk1JV9HDTSIwfy0YOpMhRddEe-enwOynTCpsNIcNlU2yd2bbi1HiW1q7My8Fo02qLzElw1Pth6MVk2deI3WYenJMrDvM22wgfQfcKT5h1n_OvxGMM1LQIoiQ9Jim5VrK_fY_uZ1KmlY54IJdP6hRXX03e6kLABoKasqqR8CU7I7KAMg-i5AcXcSla2Owx9eGqQIXxCl2Nurdy7RdSDOV6pLb7SJV3ErCOBFHDoH7J4tm7LMHAmhxKBYpOdRdBJ1O8wPLDK5_kytjSKa0FqIIq6NAyCXYT6ReTghqi4DHgLshXiWy_X6SbhzfchT-9-_158inAGX15WbsLBXltB0akGyp_90dW2IQJAX8OUDpDmrX44_e6NFS85N_JSLEZvd4ieo7-fvXMvkmamz4qrLHhAMUuu4OaWZ0RJk4liwl0MyMHezqbmi4D4aTjJF1n0Q5IlRSDg0Ij9ckrCuPwRXS3TJLa7r76Y0nRKKE3Uz-Q3Ec_5D9xbfdpIj0kb0bPHPWDs1SY5BybhqOBtb8cHKD77HdAJb55IpYxP11Sj0Jms-LmLtuli6KzJ9IaqkkKWwogdJ93RaJ9r4hu8WyPUFDMB9qSxBIq94HKKnDPCmV6V0L6sYkmcHtVtDMcC4CABke5eSuPwDiR5UNQYomqDwIUUepFQJUw_Uk1h965Ymtc4xuiqgvMmS70Dji6WvZk9TublItbgLdHa11oo685DbySZjOMJSKiBTScV5YfkeO_GlCWL2rJfGqS5t2_q8M3BKgXmSs=w1920-h929") no-repeat right;
	background-size: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

/* Customer Calling */
.page-customer-calling-box {
	background-color: rgba(238,253,255,1.00);
	height: 320px;
	width: 100%;
	z-index: 1;
}
.customer-calling {
	background: url("https://lh3.googleusercontent.com/fife/AAbDypB9oNyKsnv9iqfi2xM02dPJiNw8drusabtBHne7DIdF_MSGbMCki7eW4f1tOeISK9hxhP8v1vuJ9h7MZ95_WpY9oRjJj1libtbWf7afDbAqO1VRnOhYBKVxzRb7YLjOur5A-NRG7xpDwrsLa2zm-uRCPfCvj4FinEiXIa_LUAcYrTpeJLSnONDSmmE6HQOnpg6KSls0Omm5LQFPDbdaCJs-4FkSetp5XP5wpajBkyarIJiWtfqN8P9LGeo9z2ikTLCcNhC5iP8zzwexJOhYDQGZgahTsaokYqEYEV8zbVsClPOwCZFMQeZ7sudCEYKH1xn3kfGkmEUMCK51QDe5S2yQV4MJs7vZxE-yVLwV8TGi5b1jWSKZBmWyNp-mMkP1-hlp0e33ERErhaecrOpUaf6A5zlBjv2BJq0eXlB-pGVICweC-A2MpgBZ3Ok_SqBuzYlSB68uvgqyclRXlJjBbGzgdL3xpjAe0YtrieXKNnGUSYm3G3PeJh7nr91eDA3ZH5d0MrgTDnAQqUErlrvrNSK_kKB4lEazrUTqG1FWV9jn9JxJ_HDMqiZIyJf4sXMEu6_yuRbFB701o1A0I8KS0VXbKA--yeeKxcVKIp7uARNmjuZyH181ojCSx9hjR5RV0djcp9N2WO7v7S0x_58wOxGNtlGmMtj5id7T9y-RdFRjduPsj59ryIrIFkv_C89EG46fClPoqIo6Z-DUTja3U4TYDNJTRROk4hBdH8Nuw7CCxaQZxWFJolNFBY2OWZPQmsE4Y-Pm1i0dOyco7F51ptJx26Ih71Ya56bGcYYHUEZgvnj3Ifk47sCDv6KKbjGlzfTzi9rOsIX0bleuhELJ2Y95G1xABO_TV_gRm5bAcYmGcPvDwTEybnMPs8gzo7u5syWcgGwTgQjxbKHWc67bzD78v3S8c2pv6EAXrac_bBhAq1CWTpg3pZ4ImT72gliSuRjnnh6Ybzwpne1Yke9dcJ5NsuaAuf6T9G8qHZ8RX9C5d8MpKeK-nXSMM_hyHPyId19eMgdMqNrAgCq5MZPfnuYK5xF1tTDhYiI7rYbSlO45mc0ss-I4MnQJF9klJwe2iQRcGhRn5Qb4aNswn_8hG4iHcmHy3LdaGjbVLbTp1YwJljVgwspO14JwlF-IkszwnOEGoIRu5Qb5d8o_oM953sxSgfCpvTQsjdBz-ucehWsTLHOEEQAdrflN6gbGx_gpRD-CbZbqwvz_qQaFuqSo6yrc2y_07Qup5xTRCxiNigJzOfsC_lsLCoKSa_VyfE01HiWf9HZo6yV74AZgLpMoq84_qlqGavL7pyg4-H9hTg0mwmybPgwppYWJDInaC0fvrN1VG1BjPH_8H535pSIqd2-O1z94KajVJ8yvvzS2Lgye7fXg-HzuXg220REJ1h_G_TviBximjgnX9ddeYSOqiSucJk7L3E7UBYDqYWzmOBh9UxExG5FNsy4SRrwIaXOVDKti0KwRjg5CwUnM8Ro=w1920-h929") no-repeat left;
	background-size: cover;
	height: 320px;
	width: 100%;
	object-fit: cover;
	z-index: 2;
}

/* Page Description */
.gsq-page-description-box {
	display: inline-block;
	height: 468px;
	width: 100%;
}
.page-description-index-1 {
	background: url("https://lh3.googleusercontent.com/fife/AAbDypBT0zDSyR5LJqpiPnkkQ85tLzBDrpN-mKYKNEV0GkKOi6kt1dL64YHM1B4loMuMKYfJdBLjHHjvBo6KgjZWxl8fa6b-fdt_Se4nhcWe-pdCpt7rAmqE1mB4AWAJEuya6K_DdykqNmeWI3LBChGnpAgWNZr7rbn3eTQ4Rjs8BMFKkQNqKM7MdHCa-FIMHvWi_Nu0ShQB08oEQ2-pgC9b9HFkq2dtgQL3gyDdWUdgAtTSpcoPPAzr65Wcx-pbQDmQNOsnyIJjX7baOcVt0rGx0dUU3tH5ToJyZP3klBJvv-d1TOMdIRZkDStuzvgp_dYROTRn7n8zdsNfMMKQTx8OZmuCzirthZbbB-0u5-ZGZm1OFgJjBtDTEpVnHE168wOlW3jdXakxlx-f8PWN3PEtox5clDKk_UyHkjiMjnMoFjIAkjvjmcteSokrP6LczVmb4serc6ATGKJnIivaOf_Fl8blULBs0fnXeEZQODTk0dEpk212hRElAoe2mWmeZ72O2FEgFFD87VqlfKFleeRxhUYAhW6xpsT5Q9CJs3Ffp8r3XeQT5BQNi5wG3MQy5d-tDC06225n0OXn8wiFeRpcrm12DpnS8Vr6erPP6VzOiCqwE3hKJUztdbh0usPMlDShNCDzqEep5u_Z5IGDY8XIrjLDjNDv4zINGlCahm-tD_SuoRlgSw6RcU_NfrgcaLATWXjsOZbabWT4x8yh_i1MLooaYKVEo39WYnadw1w3mbQqyx2_qRygy9s9oJ-_GU-0L2Rsfe_VZXiOArhPulnLJ_JpIpTnIf2v2RiAe_s9EG2qwDAMECkfe5s6uVP2tsQu7M5SP-Nj8CEVJdgpW80E5DZOEFDhxFmFTkZcI_FhKUnwxGZ9r8Ij4EwH5abDPYMK6Vq_qfht5qZRKzSrOq-W9nlH_8wn_A-w2EyLu4hqOkmG315B8WG_Q6zgb7vXkKkX9835EQygrfBku9mLLZkQpD40L2HGhAVeY_t6InDNN3NlFYzHBIJPeBITbctco_zDGL1wTVCophDqDMCtkNaKHMTFMWBvlj2SPeliJRro_StTdGepcprJfMD18etEBiyHgabYWkXzlrtS-dV1XOaHsz8ph1bnOvqYsFg6iwGeH04izXbi44cQYoJSGP0-qxSYzgWijBwzAezTx93GrBoAr3gbJ6bsOMQ8T8k0XoxWuMy1qe53UhXt8Q44M37e4hlGEMHib1YhLeEDBG_0xP58RT1fjRU_Pk_mGDjbLwJVWKdPGVyF-rPPDauF8XdJ5uTaEJWMqqlfblCHLBfDB4Xxj1OMaeZPMOZG9-MxBAMsDCTHTRdeueSDjxcDNDGh5ar9Qma2TmH44DSBHExhXPGZRDhb1ksyGkFC7cCHJG01wP0-xnGBD3QpIRCyKqj_tOsH746NU7kApA0klIpgkc1Gm7C5t5kQW9ht1GBXkvqudqRZunukXC7I5ypZ8kFI2kafhFktN5mo8Ryi9q8-e0U=w1920-h929") no-repeat left top;
}
.page-description-index-2 {
	background: url("https://lh3.googleusercontent.com/fife/AAbDypAOS1Z0ChmGlDk8D8yDRxdSpaHlCA7sMup560xPTDKV-1-244S60k4lAtahcSQ9bLRxtK5wf7RBtt4ncim93jMNF1fA5bhVlM3ELz2s4irDT9mCdgabm5ooXOC8b393sC3PXpRmX7tbdFiwvBHmA08zxR8XhVJmDojqcQAAwZG4oavaDBM-iAhPWrM4z79zxHgZrD-7j8GHRI17UtLbVLYoYFESfKTe4pQFJkOO9S2s8x87Sni3kFtvmCCgFhNawAvyEwljW8YUbswUc05AobAI7VmgKrJG615RQYOpCMj7gTfexzx0iXfa-JKJSRXNhcuTvUD3leCPzQRX5bGscE5jcWLmm5xxH0qoTiC740E_2pPE-954fBm5oy6YzQcYUPHncDUKMmQPwb5VsMCQpeEqBmKZG37hsFHSxW52mP8p2NBhskLBf9um6OH4y0SLE5NwQ-swB-B4yfrH8hhp9WnMbKDzp4zLh5Rzm98Es-l6Hd9XKPFGiF3WJ2pqgs8INdM4Lj5KuAN1Do3yCxk9TnNh0npk7xd43k669_6EL7ybD5Q3eMrWgzLKnFqn-aUxy5J3dY7AFSmfByUqHpLHQ0jzBR2uPO7go8_43PxznJMTXOR2-gpvgUJw5Sv3fsLktdwAeua77qWXVC8Uzp-tBHRoDg7F58BVVwwMlg4Tlme91vJrarchLfJOxtMNq9P88HxX8YP6_iEdlROXc4NbF53fJnL8uUXCaA71XVyW2POXaCD0021quIxBfkQzoEZbj6nCS5n2SQ7GocqoH8BOmT0oKwX_cdjs_04LEkqQUfAzBdMPu_36ogL8E6x2WI4kWq_5N-LxenWSLIYumaXX3m_FuRzxSsBRBKMaMp1tZ7X7l7PsXO69fU85OFoi3qrnoBc5jhnqw3yd0eAQu1zPgcgr39jG08XhoW942Q_WWz9ms2dPqjWZKa_YH9ACfK5EVGAeFo4uO3Wic5SyItnODGUbC9BHcvlekbeCl4BNEsTTGnK0C4D2R3CVA34X7F3UV6OJfMtM4K5llh-REPwQuuY_OAlDtPSG3lH6CfHkFjDuy9LEzK3LeGG9x9w0ximn3-uFB3ANlOsA88tG6TbPWSxv0VcjxdFi3RyJ8cLDXOaH4ofCwdN0m5TZK5i8OI31niY1f5mBOIMNrIUIZPZEV-ClNt6acHBLLs8KdkV3H3EDTof8ZvE7I5OuQK5P29UbVup0BPLzGcg__jJZhI7bsbiGZeQac3axHFBsxBRea5EW43S-dpyl9kSrzTWsN2Ox5VSRzdQ3eW0yEhSztAEWrKGpWcJqc8acuDTLPUaxU-EBaHkTESSSGDmA3GK02Vfe5SSTTgTOwACvov25uLJYOOnovqOPIuQGg9VDIUZF2GNxNy-O7gojK-VdJUOu1UgLG-ME_g_szwGB28DzFGF7wdJRViI3BwRM8_U8QBvCz9U4Hfx-97A35oahG2aHxAHbIMLjEDfpHcl-gwEneRY=w1920-h929") no-repeat right;
}