/* Base */
html,body {
	color: rgba(89,87,87,1.00);
	font-family: "Microsoft JhengHei", "Helvetica Neue", "Noto Sans", Helvetica,Arial, sans-serif !important;
	font-size: 16px;
	height: 100%;
    overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Breadcrumb */
.breadcrumb {
	font-size: 13px!important;
	margin-bottom: 0!important;
	padding: 10px 0;
}
.breadcrumb a:hover {
	color: #41B797!important;
}

/* Fonts */
.gsq-cover-title {
    font-size: 76px;
    font-weight: bolder;
	text-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.gsq-cover-title-2 {
    font-size: 100px;
    font-weight: bolder;
	text-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.gsq-cover-subject-1 {
    font-size: 58px;
    font-weight: bolder;
	text-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.gsq-cover-subject-2 {
    font-size: 120px;
    font-weight: bolder;
	text-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.gsq-cover-subject-3 {
    font-size: 158px;
    font-weight: bolder;
	text-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.gsq-page-title {
	font-size: 48px;
	line-height: 57px;
	padding: 24px 0;
}
.gsq-page-title-2 {
	font-size: 24px;
	line-height: 32px;
}
.gsq-page-title-3 {
	font-size: 32px;
	padding-bottom: 24px;
}
.gsq-page-text {
	color: #595757;
	font-size: 21px;
	line-height: 27px;
}
.gsq-item-title {
	font-size: 32px;
	line-height: 39px;
	min-height: 72px;
	padding: 12px 0;
	white-space: nowrap;
}
.gsq-item-text {
	line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;	
}
.logo-description {
	font-size: 15px;
}
.break-text {
	word-break: normal;
}
.gsq-data-number {
	font-size: 48px;
}
.gsq-data {
	font-size: 21px;
}
.gsq-data-description {
	font-size: 24px;
}

/* Colors */
.gsq-color-green {
    color: #41B797;
}
.gsq-color-blue {
    color: #08287F;
}
.gsq-color-light-green {
    color: #5AA0AA;
}
.gsq-color-light-purple {
    color: #7873BE;
}
.gsq-color-gery {
    color: #727171;
}
.gsq-color-black {
    color: #231815;
}

/* Background */
.gsq-bg-yellow-light {
	background: #fffeee;
}

/* Buttons */
.gsq-btn-outline-blue {
	border: 1px solid rgba(8,40,127,1.00)!important;
	color: rgba(8,40,127,1.00);
	font-weight: bolder;
}
.gsq-btn-outline-blue:hover, .gsq-btn-outline-blue:active {
	background-color: rgba(8,40,127,1.00)!important;
}
.gsq-btn-blue {
	background: rgba(8,40,127,1.00);;
	border: 1px solid rgba(8,40,127,1.00)!important;
	color: rgba(255,255,255,1.00);
	font-size: 21px;
	font-weight: bolder;	
}
.gsq-btn-blue:hover {
	background: rgba(0,20,75,1.00);;
	border: 1px solid rgba(8,40,127,1.00)!important;
	color: rgba(255,255,255,1.00);
	font-size: 21px;
	font-weight: bolder;	
}

/* Badge */
.gsq-badge {
	color: #ffffff;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 12px;
}
.gsq-text-bg-blue {
	background: #08287F;
}
.gsq-badge-blue {
	background: #08287F!important;
	color: #ffffff;
	font-size: 16px!important;
	font-weight: bold!important;
	padding: 8px 16px;
}

/* OL & UL */
.gsq-ul ul li::marker {
	color: #41B797!important;
}

/* Line */
.gsq-cardlist a {
	color: inherit!important;
	text-decoration: none!important;
}

/* Footer */
#footer {
	padding: 40px 0 0 0!important;
}
.copyright {
	background: #08287f!important;
	border: 0!important;
	color: #ffffff!important;
	padding: 15px 0!important;
	text-align: center;
}
.copyright a {
	color: #ffffff!important;
}

/* Others */
#site_path {
	margin-bottom: 0!important;
}

/* Covers */
.gsq-cover-box {
	height: 768px;
	width: 100%;
}
.gsq-cover-index {
	background: url("https://cdn1.cybassets.com/s/files/23929/ckeditor/pictures/content_ff84af9e-ea0a-43cb-b8dd-1c425b56ae0a.jpg") no-repeat right;
	background-size: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.gsq-cover-tpi {
	background: url("https://cdn1.cybassets.com/s/files/23929/ckeditor/pictures/content_0592d28b-ed0e-45ca-97c6-3d3154899899.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.gsq-cover-item {
	background: url("https://cdn1.cybassets.com/s/files/23929/ckeditor/pictures/content_87efc965-1136-4aec-bca0-f9fee4bac5c1.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.gsq-cover-jk {
	background: url("https://cdn1.cybassets.com/s/files/23929/ckeditor/pictures/content_2596a32a-d1e4-48f4-ab25-919e1b9f3a98.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

/* Customer Calling */
.page-customer-calling-box {
	background-color: rgba(238,253,255,1.00);
	height: 320px;
	width: 100%;
	z-index: 1;
}
.customer-calling {
	background: url("https://cdn1.cybassets.com/s/files/23929/ckeditor/pictures/content_e9396396-6487-422b-8ee4-adbcc03f2e8c.png") no-repeat left;
	background-size: cover;
	height: 320px;
	width: 100%;
	object-fit: cover;
	z-index: 2;
}

/* Page Description */
.gsq-page-description-box {
	display: inline-block;
	height: 468px;
	width: 100%;
}
.page-description-index-1 {
	background: url("https://cdn1.cybassets.com/s/files/23929/ckeditor/pictures/content_5516b3ee-de8e-4ecf-9888-17ff6919cf1f.jpg") no-repeat left top;
	background-size: cover;
	object-fit: cover;
}
.page-description-tpi-1 {
	background: url("https://cdn1.cybassets.com/s/files/23929/ckeditor/pictures/content_b1240c04-df7a-40c4-8c2f-04a5ed4af000.jpg") no-repeat right top;
	background-size: cover;
	object-fit: cover;
}
.page-description-index-2 {
	background: url("https://cdn1.cybassets.com/s/files/23929/ckeditor/pictures/content_21d06125-edcb-49d4-8092-1b4d275b8c97.jpg") no-repeat right;
	background-size: cover;
	object-fit: cover;
}