@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 1280px) {
    .responsive-max-width, .entry-content {
        max-width: 100%!important;
    }
}

@media only screen and (min-width: 1024px) {
    .responsive-max-width, .entry-content {
        max-width: 100%!important;
    }
}

@media only screen and (min-width: 782px) {
    .responsive-max-width, .entry-content {
        max-width: 100%!important;
    }
}

@media only screen and (min-width: 640px) {
    .responsive-max-width, .entry-content {
        max-width: 100%!important;
    }
}

@media only screen and (min-width: 560px) {
    .responsive-max-width, .entry-content {
        max-width: 100%!important;
    }
}